@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Coiny&family=Passero+One&family=Zen+Antique&display=swap');
/*====== background halaman ========*/

#home {
    background-image: url("image/KYUNG.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    font-family: "Coiny", cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
}

.header {
 color: #ffffff;
}

.header-halaman-home h1 {
    margin: 0;
    font-size: 60px;
    font-family: "Coiny", system-ui;
}

.button-halaman-home {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-xyz {
    background-color: #6f9070;
    text-decoration: none;
    color: #ffffff;
    width: 260px;
    margin: 25px auto;
    padding: 15px 0;
    font-family: "Coiny", system-ui;
    font-size: 30px;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-table {
    background-color: #d16c55;
    text-decoration: none;
    color: #ffffff;
    width: 260px;
    margin: 25px auto;
    padding: 15px 0;
    font-family: "Coiny", system-ui;
    font-size: 30px;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}
   
.button-xyz:hover {
    background-color: #04AA6D;
    color: white;
}

.button-table:hover {
    background-color: #ff4c4c;
    color: white;
}


/* =====Zoo====- */
#Zoo

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    scroll-padding-top: 80px;
}

#Zoo {
  font-style: normal;
    text-align: center;
    background-image: linear-gradient(to bottom, #3f5340, #6f9070, #7da77e, #6f9070);
}
    

.zoo-boarder {
    padding: 20px 12px 6px;
    position: relative;
}

.board {
    width: 500;
    max-width: 98%;
    height: 180px;
    margin: 0;
    background-image: url("image/papan.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-text {
    color: rgb(0, 0, 0);
    line-height: 1.6;
    align-items: center;
    font-family: "Caesar Dressing", system-ui;
}

.board-text.small {
    font-size: 32px;
    line-height: 2;
    margin-top: -32px;
}

.board-text.large {
    font-size: 38px;
    margin-bottom: -20px;
}

.zoo-image {
    width: 92%;
    max-width: 1100px;
    margin: 12px auto 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.zoo-image img {
    width: 100%;
    height: auto;
    display: block;
}

.top-category-bg {
    width: 55%;
    max-width: 1100;
    margin: 18px auto 0;
    background: #8bb78c;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.top-category {
    width: 300px;
    display: flex;
    justify-content: center;
}

.category-card {
    width: 100%;
    background: #ecffed;
    padding: 10px 12px 18px;
    border-radius: 14px;
    /* display: flex; */
}

.cat-link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cat-label-button {
    background: #3f5240;
    min-width: 90%;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 12px;
    font-size: 27px;
    margin-bottom: 6px;
    display: inline-block;
    font-family: "Coiny", system-ui;
    cursor: pointer;
    transition: transform 0.2s;
}

.cat-label-button:hover {
    background-color: #327435;
}

.cat-thumb {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #8bb78c;
    background: #ffffff;
}

.cat-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal-section {
    width: 92%;
    max-width: 1100px;
    margin: 32px auto;
}

.section-daun {
    position: relative;
    border-radius: 10px;
    overflow: visible;
}

.section-daun img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    margin-top: -10px;
}

.section-daun h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 56px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Passero One", sans-serif;
}

.section-atas-kotak {
    width: 95%;
    height: 405px;
    max-width: 1100px;
    background: #6f9070;
    margin: 18px auto;
    margin-top: -15px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.card-row {
    display: flex;
    margin-top: 18px;
}

.animal-card{
    flex: 1px;
    padding: 15px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
}

.photo-wrap {
    position: relative;
    border-radius: 20px;
    margin-top: -10px;
}

.photo-wrap img {
    width: 92%;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
}

.caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background: #6f9070;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 22px;
    border: 5px solid #eaff80;
    font-size: 28px;
    min-width: 92%;
    box-sizing: border-box;
    align-items: center;
    z-index: 10px;
    font-family: "Coiny", system-ui;
}

.source-area {
width: 92%;
max-width: 1067px;
margin: 6px auto 0px;
padding: 16px;
border-radius: 12px;
background: #3f5240;
}

.source-area h3 {
font-size: 45px;
margin-bottom: 12px;
margin-top: 10px;
color: #ffffff;
font-family: "Caesar Dressing", system-ui;
letter-spacing: 3px;
}

.source-button a {
    display: block;
    color: #ffffff;
    font-size: 20px;
}


.source-btn {
    padding: 10px 16px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
}



/* ===Table-form=== */
#table {
    background-image: url(image/salju.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

tr:hover {background-color: #ffdab8;}

body table {
    text-align: center;
}

.menu li {
    text-align: center;
}
table {
color: rgb(85, 16, 0);
margin-left: auto;
margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#h1-table {
    font-size: 50px;
    color: #861800;
    border-style: inset;
    border-width: 10px;
    border-color: #ffcea9;
    box-sizing: border-box;
    height: 90px;
    width: 1000px;
    align-items: center;
    text-align: center;
    font-family: "Zen Antique";
}

#h2-table {
    color: #002d43;
    align-items: center;
    text-align: center;
}


#h3-table {
    color: #002d43;
    align-items: center;
    text-align: center;
}

#h3-table2 {
    color: #002d43;
    align-items: center;
    text-align: center;
}

#forms {
    border-radius: 5px;
    padding: 20px;
    height:720px;
    width: 995px;
    background-image: linear-gradient(to top, #b8e5ff, #ffdab8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

input[type=text], input[type=email], input[type=tel], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}


button[type=button] {
    width: 100%;
    background-color: #81bbca;
  color: rgb(31, 0, 0);
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 8px;
}

button[type=button]:hover {
    background-color: #ffab87;
}

#h2-form {
    font-size: 40px;
    color: #861800;
    border-style: outset;
    border-width: 5px;
    border-color: #d1eaff;
    text-align: center;
}

@media (max-width: 1000px) {
    .section-daun h2 {font-size: 48px;}
    .photo-wrap img {height: 300px;}
    .name-box {font-size: 26px;}
}

@media (max-width: 700px) {
    .top-categories {flex-direction: column;}
    .card-row {flex-direction: column;}
    .zoo-image {margin-top: 10px;}
    .section-daun h2 {font-size: 36px;}
    .caption {font-size: 18px; bottom: 18px;}
    .photo-wrap img {height: 260px;}
    .name-box {font-size: 22px;}
    .board {width: 340px; height: 110px; top: 6px;}
}
   
